body {
  background-color: #f0f0f0;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#timer {
  font-size: 6rem;
  font-weight: bold;
  color: #f92672;
  margin-bottom: 30px;
}

#buttons {
  display: flex;
  gap: 20px;
}

button {
  background: #f92672;
  color: white;
  border: none;
  padding: 15px 35px;
  font-size: 22px;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background: #ff4b8a;
}